body {
    color: rgb(255,255,255);
    background-color: rgb(102, 102, 153)
    }
h1 {
    border-style: outset;
    border-width: fixed;
    border-radius: 15px;
    font-size: 20px;

}
h2 {
    border-style: double;
    font-size:20px;

}
p {
    color: rgb(6,6,21);
    font-size: 12px;
    border-radius: 20px;
    background-color: rgb(150, 150, 250)
}
