body {color: black;
        background-color: rgb(158,158,156);
    }
h1 {
    border: 4px outset;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 30px;
    padding: 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    color: rgb(50,50,50);
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid rgb(6,6,21);
    padding: 5px;
    margin-left: 300px;
    background-color: rgb(150, 150, 250); 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    float: left;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
