body {
    color: rgb(0,0,0);
    background-color: rgb(224, 224, 224);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.header {
    background:  rgb(236, 236, 238);
    margin-top: 10px;
    border: 1px solid rgb(0, 0, 0);
    }

h1 {
    font-size:20px;
    border-bottom: 2px solid rgb(255,255,255);
    margin-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size:20px;
    border-bottom: 2px solid rgb(255,255,255);
    margin-left: 25%;
    margin-top: 20px;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-size:20px;
    border-bottom: 2px solid rgb(255,255,255);
    margin-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: rgb(6,6,21);
    font-size: 14px;
    padding: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text1.col-xs-4.col-sm-4.col-md-4.col-lg-4 {
    border: 1px solid rgb(0, 0, 0);
    padding-bottom: 50px;
    background-color: rgb(140, 175, 148);
    border-radius: 50%;
}

.headerpicture {
    width: 100%;
    margin-top: 80px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.myFooter {
    text-align: center;
    background:  rgb(236, 236, 238);
    color: rgb(6,6,21);
    font-size: 12px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.picture {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
}

.picture2 {
    width: 200px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.textpicture1 {
    width: 80%;
    margin: 5px;
}

.text.col-xs-4.col-sm-4.col-md-4.col-lg-4 {
    border: 1px solid rgb(0, 0, 0);

}

.textMiddle.col-xs-3.col-sm-3.col-md-3.col-lg-3 {
    border-right: 1px solid rgb(0, 0, 0);
}

.box {
    border: 1px solid rgb(0, 0, 0);
}

.text3.col-xs-5.col-sm-5.col-md-5.col-lg-5 {
    border: 1px solid rgb(0, 0, 0);
}
.navbar {
    background: rgb(236, 236, 238);
    background-image: url("images/HomeHeaderpicture.jpg");
    border: 1px solid rgb(0, 0, 0);
    background-size: cover;
}
.nav-link.active {
    border: 1px solid rgb(32, 41, 33);
    background: rgb( 146, 146, 146);
}

.nav-link {
    color:rgb(49, 63, 51);
    margin-right: 20px;
}

.nav-link:hover {
    color: rgb(214, 214, 214);
    background: rgb(75, 75, 75);
}

.nav-item {
    border-right: 1px solid rgb(32, 41, 33);
    padding-left: 20px;
}

.jumbotron {
    background: rgb(236, 236, 238);;
    margin-top: 80px;
    background-image: url("images/slideshowpicture1.jpg");
    border-radius: 10px;
    border: 1px solid rgb(123, 131, 124);
    background-size: cover;
}

.navbar-default {
    color: rgb(49, 63, 51);
    font-size: large;
    margin-right: 20px;
}

.btn-primary {
    background: rgb(0, 0, 0);
    border: 1px solid rgb(105, 128, 105);
}

.btn-primary:hover {
    background: rgb(112, 112, 112);
    border: 1px solid rgb(0, 0, 0);
}

.btn-default {
    margin: 20px
}

.btn-success {
    margin: 20px
}

ion-icon {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    color: rgb(42, 80, 47);
}

ion-icon:hover {
    color: rgb(214, 214, 214);
    background: rgb(75, 75, 75);
}

.img-fluid {
    max-width: 90%;
    height: auto;
    padding-left: 20px;
}

.btn.search {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background: rgb( 146, 146, 146);
    border-radius: 10px;
}
.btn.search:hover {
    background: rgb(0, 0, 0);
    color: rgb(214, 214, 214);
}
